
.btn-search-2{
    padding: 8px 17px; 
    border: 1px solid #D60231;
}

.btn-category{
    width: 100%;
    border: 1px solid #d60231;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-active{
    background-color: #362725;
    border: 1px solid #362725;
}